#modal-genre.modal.fade(tabindex='-1', role='dialog', aria-labelledby='model-genre-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#model-genre-label.modal-title Добавить/Изменить
        .modal-body
            .form-group
                label жанр
                input.form-control(type='text', placeholder='боевик', name='genre')
            .form-group
                label язык
                select.select-lang.form-control(name='lang')
                  option(value='ru') Русский
                  option(value='en') English
            .form-group
                button.btn.btn-default.btn-block(type='button',onclick="m('#modal-genre','#modal-lang-add');") добавить язык
        .modal-footer
            button.btn.btn-primary(type='button') Добавить/Изменить
            button.btn.btn-default(type='button', data-dismiss='modal') Закрыть