#modal-lang-add.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-lang-add-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#modal-lang-add-label.modal-title Добавить
        .modal-body
            form#form-lang-add
                .form-group
                    label код языка
                    input.form-control(type='text', placeholder='ru', name='code',maxlength='5')
                .form-group
                    label язык
                    input.form-control(type='text', placeholder='Русский', name='lang',maxlength='255')
        .modal-footer
            button#action-lang-add.btn.btn-primary(type='submit') Добавить
            button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
#modal-lang-edit.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-lang-edit-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#modal-lang-edit-label.modal-title Изменить
        .modal-body
            form#form-lang-edit
                .form-group
                    label код языка
                    input.form-control(type='text', placeholder='ru', name='code',maxlength='5')
                .form-group
                    label язык
                    input.form-control(type='text', placeholder='Русский', name='lang',maxlength='255')
        .modal-footer
            button#action-lang-edit.btn.btn-primary(type='submit') Изменить
            button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
#modal-lang-remove.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-lang-remove-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#modal-lang-remove-label.modal-title Подвердить удаление
        .modal-body
            form#form-lang-remove
                .form-group
                    label код языка
                    input.form-control(type='text', placeholder='ru', name='code',maxlength='5')
                .form-group
                    label язык
                    input.form-control(type='text', placeholder='Русский', name='lang',maxlength='255')
        .modal-footer
            button#action-lang-remove.btn.btn-primary(type='submit') Удалить
            button.btn.btn-default(type='button', data-dismiss='modal') Отмена
#modal-lang-removeAll.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-body
            h1.modal-title Подвердить удаление
        .modal-footer
            button#action-lang-removeAll.btn.btn-danger.btn-ok(type='submit') Удалить
            button.btn.btn-default(type='button', data-dismiss='modal') Отмена
