#gallery-translator.blueimp-gallery
    .slides
    h3.title
    a.prev ‹
    a.next ›
    a.close ×
    a.play-pause
    ol.indicator
#gallery-translator-links.hide
#modal-translator-gallery.modal(tabindex='-1', role='dialog', aria-labelledby='model-translator-gallery-label', aria-hidden='true')
    .modal-dialog.modal-gallery-preview
        .modal-content.modal-gallery-preview.fuelux
            .modal-header.modal-gallery-preview
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#model-translator-gallery-label.modal-title
            .modal-body.modal-gallery-preview
                include ../repeater/translator.jade
#modal-translator-add.modal.modal-md.fade(tabindex='-1', role='dialog', aria-labelledby='model-translator-add-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#model-translator-add-label.modal-title Добавить/Изменить
        .modal-body
            form#form-translator-add
                .form-group
                    label.control-label название
                    input.form-control.input-md(type='text', placeholder='urobos', name='name')
                .form-group
                    label.control-label сайт
                    input.form-control.input-md(type='text', placeholder='urobos', name='home')
                .form-group
                    label.control-label язык
                    select.select-lang.form-control(name='lang')
                      option(value='ru') Русский
                      option(value='en') English
                    button.btn.btn-default.btn-block(type='button',onclick="m('#modal-translator-add','#modal-lang-add');") добавить язык
                .form-group
                    label.control-label изображение
                    input#file-translator-add.file-loading(type='file', multiple='true', name='image')
        .modal-footer
            button#action-translator-add.btn.btn-primary(type='button') Добавить/Изменить
            button.btn.btn-default(type='button', data-dismiss='modal') Закрыть