#repeator-thumbnail-translator.repeater
    .repeater-header.hide
        .repeater-header-left
        .repeater-header-right
            .repeater-views.btn-group(data-toggle="buttons")
                label.active.btn.btn-default
                    input(name="repeaterViews2",type="radio",value="thumbnail")
                    span.glyphicon.glyphicon-th
    .repeater-viewport.modal-gallery-preview
        .repeater-canvas.scrolling
            .clearfix.repeater-thumbnail-cont.align-left(data-container="true",data-infinite="true",data-preserve="shallow")
        .repeater-loader.loader
    .repeater-footer
        .repeater-footer-left
            .repeater-itemization
                span
                    span.repeater-start 1
                    |  - 
                    span.repeater-end 10
                    |  of 
                    span.repeater-count 660
                    |  items
                .selectlist.btn-group(data-resize="auto")
                    button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
                        span.selected-label 10
                        span.caret
                        span.sr-only Toggle Drop-down
                    ul.dropdown-menu(role="menu")
                        li(data-value="5")
                            a(href="#") 5
                        li(data-value="20", data-selected="true")
                            a(href="#") 20
                        li(data-value="100",data-foo="bar",data-fizz="buzz")
                            a(href="#") 100
                    input.hidden.hidden-field(name="itemsPerPage",readonly="readonly",aria-hidden="true",type="text")
                span Per Page
        .repeater-footer-right
            .repeater-pagination
                button.btn.btn-default.btn-sm.repeater-prev.page-end(disabled="disabled")
                    span.glyphicon.glyphicon-chevron-left
                span Page
                .repeater-primaryPaging
                    .input-group.input-append.dropdown.combobox
                        input.form-control(type="text")
                        .input-group-btn
                            button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
                                span.caret
                                ul.dropdown-menu.pull-right
                input.form-control.repeater-secondaryPaging.active
                span
                    | of 
                    span.repeater-pages 66
                button.btn.btn-default.btn-sm.repeater-next(type="button")
                    span.glyphicon.glyphicon-chevron-right
