#alert-author
  .alert.alert-info.fade.in(role='alert')
    button.close(type='button', data-dismiss='alert') &times
    div sadasd
.btn-group
  button#action-author-add.btn.btn-primary(data-toggle='modal', data-target='#modal-author') Добавить
.btn-group
  button.btn.btn-default(data-method='remove') Remove Data
table#panel-author-view-table