.navbar(role='navigation')
            .tabbable
                ul.nav.nav-tabs
                  li
                    a(href='#panel-content-add', data-toggle='tab') добавить
                  li.active
                    a(href='#panel-content-view', data-toggle='tab') просмотор
                .tab-content.col-md-10
                  #panel-content-add.tab-pane
                    include ./content/add.jade
                  #panel-content-view.tab-pane.active
                    include ./content/view.jade