#blueimp-gallery-links.links
#blueimp-gallery.blueimp-gallery
    .slides
    h3.title
    a.prev ‹
    a.next ›
    a.close ×
    a.play-pause
    ol.indicator
#modal-gallery.modal.face(tabindex='-1', role='dialog', aria-labelledby='model-gallery-label', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#model-gallery-label.modal-title
            .modal-body.next
            .modal-footer
            button.btn.btn-default.pull-left.prev
                i.glyphicon.glyphicon-chevron Previous
            button.btn.btn-primary.next
                i.glyphicon.glyphicon-chevron.next
