#alert-genre
  .alert.alert-info.fade.in(role='alert')
    button.close(type='button', data-dismiss='alert') &times
    div sadasd
.btn-group
    button#action-genre-add.btn.btn-primary(data-toggle='modal', data-target='#modal-genre') Добавить
.btn-group
    button.btn.btn-default(data-method='remove') Remove Data
table#panel-genre-view-table