#alert-lang
#toolbar-lang
    .form-inline(role='form')
        .form-group
            button.btn.btn-primary(data-toggle='modal', data-target='#modal-lang-add') Добавить
        .form-group
            button.btn.btn-default(data-toggle='modal', data-target='#modal-lang-removeAll') Удалить выбранное
        .form-group
            button#action-lang-search.btn.btn-default поиск с сервера
table#lang-table