#modal-page-genre.modal.fade(tabindex='-1', role='dialog', aria-labelledby='model-page-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            h4#model-page-genre-label.modal-title Добавить Жанр
        .modal-body
            .input-group
                span.input-group-addon жанр
            .input-group
                select#list-genre-select.selectpicker(data-live-search="true")
                    option(value='1') 1wqeqwewer
                    option(value='2') 2werwqerqwer
                    option(value='3') 3werwerwer
                    option(value='4') 4werqwerqwer
                    option(value='5') 5werqwerqwer
            button#list-genre-add.btn.btn-primary.btn-block(type='button') добавить
            #list-gerne-button.input-group
        .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
            button.btn.btn-primary(type='button') Сохранить
#alert-page
    .alert.alert-info.fade.in(role='alert')
        button.close(type='button', data-dismiss='alert') &times
        | sadasd
.btn-group
    button#action-page-add.btn.btn-primary(data-toggle='modal', data-target='#modal-page-genre') Добавить Жанр
.btn-group
    button.btn.btn-default(data-method='remove') Remove Data
table#panel-page-view-table