#alert-translator
#toolbar-translator
.btn-group
  button#action-translator-add.btn.btn-primary(data-toggle='modal', data-target='#modal-translator-add') Добавить
.btn-group
  button.btn.btn-default(data-method='remove') Remove Data
table#translator-table
 // include ./test/repeater.html
