form#form-page-add.form-horizontal(role='form')
    .form-group
        label Заголовок
        input.form-control(type='text', placeholder='Заголовок', name='title',maxlength='255')
    .form-group
        label Описание
        .navbar(role='navigation')
            .tabbable
                ul.nav.nav-tabs
                    li.active
                      a(href='#edit-desc-text', data-toggle='tab') текст
                    li
                      a(href='#edit-desc-html', data-toggle='tab') html
                .tab-content
                    #edit-desc-text.tab-pane.active
                        textarea.form-control(type='text', placeholder='Описание', name='decription',maxlength='255')
                    #edit-desc-html.tab-pane
    .form-group
        label язык
        select#lang.selectpicker.form-control(data-live-search="true")
            option(value='ru') Русский
            option(value='en') English
    .form-group
        label.control-label Жанр
        select#list-genre-select.selectpicker.form-control(data-live-search="true")
            option(value='1') 1wqeqwewer
            option(value='2') 2werwqerqwer
            option(value='3') 3werwerwer
            option(value='4') 4werqwerqwer
            option(value='5') 5werqwerqwer
        button#list-genre-add.btn.btn-primary.btn-block(type='button') добавить
    .form-group
        #list-gerne-button.btn-group
    .form-group
        label Статус
        select#list-status-select.selectpicker.form-control(data-live-search="true",name="status")
                option(value='1') продолжается
                option(value='0') завершен
                option(value='2') аннонс
    .form-group
        label.control-label год выпуска
        input.form-control.input-md(type="number",min='1950',max='2016')
    .form-group
        label.control-label год завершения
        input.form-control.input-md(type="number",min='1950',max='2016')
    .form-group
        label.control-label ключиве слова
        input#list-key-select.form-control.input-md(type="text",maxlength="255")
        button#list-key-add.btn.btn-primary.btn-block(type="button") добавить
    .form-group
        #list-key-button.btn-group
    .form-group
        label.control-label автор
        input#list-auhtor-select.form-control.input-md(type="text",maxlength="255")
        button#list-author-add.btn.btn-primary.btn-block(type="button") добавить
    .form-group
        label.control-label переводчик
        input#list-translator-select.form-control.input-md(type="text",maxlength="255")
        button#list-translator-add.btn.btn-primary.btn-block(type="button") добавить