#modal-banner-create.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-banner-create-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#modal-banner-create-label.modal-title добавить Сервер
        .modal-body
            form#form-banner-create
                .form-group
                    label user
                    select.user-select.form-control(name='user')
                        option(value="0") None
                .form-group
                    label.control-label изображение
                    input#file-banner.file-loading(type='file', multiple='true', name='image')
        .modal-footer
            button#action-banner-create.btn.btn-primary(type='button') Добавить
            button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
#repeator-thumbnail-banner.repeater
    .repeater-header
        .repeater-header-left
            .input-group
                button.btn.btn-primary(data-toggle='modal', data-target='#modal-banner-create') Создать
                button.btn.btn-danger Удалить Выделеные
        .repeater-header-right
            button#action-banner-update.btn.btn-default(type='button', name='refresh', title='Обновить')
                i.glyphicon.glyphicon-refresh.icon-refresh
            .btn-group.selectlist.repeater-filters(data-resize='auto')
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                  span.selected-label  
                  span.caret
                  span.sr-only Toggle Filters
                ul#banner-user-list.dropdown-menu(role='menu')
                input.hidden.hidden-field(name='filterSelection', readonly='readonly', aria-hidden='true', type='text')
            .repeater-views.btn-group(data-toggle="buttons")
                label.active.btn.btn-default
                    input(name="repeaterViews2",type="radio",value="thumbnail")
                    span.glyphicon.glyphicon-th
    .repeater-viewport
        .repeater-canvas.scrolling
            .clearfix.repeater-thumbnail-cont.align-left(data-container="true",data-infinite="true",data-preserve="shallow")
        .repeater-loader.loader
    .repeater-footer
        .repeater-footer-left
            .repeater-itemization
              span
                span.repeater-start 1
                |  - 
                span.repeater-end 10
                |  of 
                span.repeater-count 660
                |  items
              .btn-group.selectlist(data-resize='auto')
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', style='width: 66px;')
                  span.selected-label 10
                  span.caret
                  span.sr-only Toggle Drop-down
                ul.dropdown-menu(role='menu', style='width: 66px;')
                  li(data-value='5')
                    a(href='#') 5
                  li(data-value='10', data-selected='true')
                    a(href='#') 10
                  li(data-value='20')
                    a(href='#') 20
                  li(data-value='50', data-foo='bar', data-fizz='buzz')
                    a(href='#') 50
                  li(data-value='100')
                    a(href='#') 100
                input.hidden.hidden-field(name='itemsPerPage', readonly='readonly', aria-hidden='true', type='text')
              span Per Page
        .repeater-footer-right
          .repeater-pagination
            button.btn.btn-default.btn-sm.repeater-prev.page-end(type='button', disabled='disabled')
              span.glyphicon.glyphicon-chevron-left
            span Page
            .repeater-primaryPaging
              .input-group.input-append.dropdown.combobox
                input.form-control(type='text')
                .input-group-btn
                  button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                    span.caret
                  ul.dropdown-menu.pull-right
            input.form-control.repeater-secondaryPaging.active(type='text')
            span
              | of 
              span.repeater-pages 66
            button.btn.btn-default.btn-sm.repeater-next(type='button')
              span.glyphicon.glyphicon-chevron-right
