#blueimp-gallery-links.links
#blueimp-gallery.blueimp-gallery.hide
   .slides
   h3.title
   a.prev ‹
   a.next ›
   a.close ×
   a.play-pause
   ol.indicator
#modal-banner-select.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-banner-select-label', aria-hidden='true')
   .modal-dialog.modal-md
      .modal-content
         .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            h4#modal-banner-select-label.modal-title добавить баннер
         .modal-body
            form
               .form-group
                  label banner
                  select#input-banner.form-control
         .modal-footer
            button#action-banner-select.btn.btn-primary.btn-block(type='button') Добавить
            button.btn.btn-default.btn-block(type='button', data-dismiss='modal') Закрыть