#modal-browser.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-browser-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#modal-browser-label.modal-title добавить филтер для броузера
        .modal-body
            form
                .form-group
                    label browser
                    .row.row-modal
                        .col-sm-3
                            select#browser-type.form-control(name="browser-type")
                                option(value="list", checked='' data-id="#browser-list") из списка
                                option(value="custom" data-id="#browser-custom")  свой
                        .col-sm-9
                            select#browser-list.form-control(role="browser-list",name="browser")
                            input#browser-custom.form-control(type='text', placeholder='internet explorer', name='browser-custom')
                                
                .form-group
                    label version
                    .row.row-modal
                        .col-sm-3
                            select#browser-condition.form-control(name="condition")
                                option(value="from", checked='')    с
                                option(value="to") до
                                option(value="eq") равно
                        .col-sm-9
                            .input-group
                                input#browser-value.form-control(type='number', value='0')
                                span.input-group-btn
                                    button#action-browser-add.btn.btn-primary(type='button') Добавить
            table#table-browser
        .modal-footer
            button#action-browser-clear.btn.btn-danger.btn-block(type='button') Очистеть
            button#action-browser-save.btn.btn-primary.btn-block(type='button', data-dismiss='modal') Сохранить
            button.btn.btn-default.btn-block(type='button', data-dismiss='modal') Закрыть
