#modal-company-create.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-company-create-label', aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-company-create-label.modal-title добавить компанию
            .modal-body
                form#form-company-create.wizard
                    .steps-container
                        ul.steps
                            li.active(data-step='1', data-name='campaign')
                                span.badge 1
                                | setup
                                span.chevron
                            li(data-step='2')
                                span.badge 2
                                | banners
                                span.chevron
                            li(data-step='3')
                                span.badge 3
                                | ajax
                                span.chevron
                            li(data-step='4')
                                span.badge 4
                                | js-layer
                                span.chevron
                            li(data-step='5')
                                span.badge 5
                                | ban
                                span.chevron
                            li(data-step='6')
                                span.badge 6
                                | filter
                                span.chevron
                    .actions
                        button.btn.btn-default.btn-prev(type='button')
                            span.glyphicon.glyphicon-arrow-left
                            | Prev
                        button.btn.btn-default.btn-next(type='button', data-last='Complete')
                            | Next
                            span.glyphicon.glyphicon-arrow-right
                    .step-content
                        .step-pane.active.sample-pane(data-step='1')

                            .form-group
                                label name
                                input.form-control(type='text', name='name',maxlength='255')
                            .form-group
                                label user
                                select#company-add-user.user-select.form-control(name='uid')
                                    option(value="0") None
                            .form-group
                                label domain
                                select.form-control(name='domain')

                        .step-pane.sample-pane(data-step='2')
                            .form-group
                                label click
                                input.form-control(type='text', name='click')
                            .form-group
                                label banner
                                #company-banners-add.repeater
                                    .repeater-header
                                        .repeater-header-left
                                            .input-group
                                                button.btn.btn-primary(onclick="return false;",data-toggle='modal', data-target='#modal-banner-select', data-user='#company-add-user',data-repeater='#company-banners-add',data-input='#company-banners-input-add') добавить
                                                button.btn.btn-danger Удалить Выделеные
                                        .repeater-header-right
                                            .repeater-views.btn-group(data-toggle="buttons")
                                                label.active.btn.btn-default
                                                    input(name="repeaterViews2",type="radio",value="thumbnail")
                                                    span.glyphicon.glyphicon-th
                                    .repeater-viewport
                                        .repeater-canvas.scrolling
                                            .clearfix.repeater-thumbnail-cont.align-left(data-container="true",data-infinite="true",data-preserve="shallow")
                                        .repeater-loader.loader
                                    .repeater-footer
                                        .repeater-footer-left
                                            .repeater-itemization
                                                span
                                                    span.repeater-start 1
                                                    |  -
                                                    span.repeater-end 10
                                                    = ' of '
                                                    span.repeater-count 0
                                                    |   items
                                                .btn-group.selectlist(data-resize='auto')
                                                    button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', style='width: 66px;')
                                                        span.selected-label 10
                                                        span.caret
                                                        span.sr-only Toggle Drop-down
                                                    ul.dropdown-menu(role='menu', style='width: 66px;')
                                                        li(data-value='5')
                                                            a(href='#') 5
                                                        li(data-value='10', data-selected='true')
                                                            a(href='#') 10
                                                        li(data-value='20')
                                                            a(href='#') 20
                                                        li(data-value='50', data-foo='bar', data-fizz='buzz')
                                                            a(href='#') 50
                                                        li(data-value='100')
                                                            a(href='#') 100
                                                    input.hidden.hidden-field(name='itemsPerPage', readonly='readonly', aria-hidden='true', type='text')
                                                span Per Page
                                        .repeater-footer-right
                                            .repeater-pagination
                                                button.btn.btn-default.btn-sm.repeater-prev.page-end(type='button', disabled='disabled')
                                                    span.glyphicon.glyphicon-chevron-left
                                                span Page
                                                .repeater-primaryPaging
                                                    .input-group.input-append.dropdown.combobox
                                                        input.form-control(type='text')
                                                        .input-group-btn
                                                            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                                                                span.caret
                                                            ul.dropdown-menu.pull-right
                                                input.form-control.repeater-secondaryPaging.active(type='text',value='0')
                                                span
                                                    = ' of '
                                                    span.repeater-pages 0
                                                button.btn.btn-default.btn-sm.repeater-next(type='button')
                                                    span.glyphicon.glyphicon-chevron-right
                                input#company-banners-input-add(type='hidden',name='banners')
                        .step-pane.sample-pane(data-step='3')
                            .form-group
                                label ajax reload second (через сколько запрашивать действия)
                                input.form-control(type='number', name='ajax[reload]',value=30)
                            .form-group
                                label ajax timeout second(сколько ждать ответ после запроса)
                                input.form-control(type='number', name='ajax[timeout]',value=15)
                            .form-group
                                label jslayer reload second (через сколько запрашивать действия когда получили js-filter)
                                input.form-control(type='number', name='jslayer[reload]',value=30)
                            .form-group
                                label jslayer timeout second(сколько ждать ответа на сервер после получение js-filter)
                                input.form-control(type='number', name='jslayer[timeout]',value=30)
                            .form-group
                                label try (сколько делать попыток для uniq, если не получен результат от прокладки)
                                input.form-control(type='number', name='jslayer[try]',value=15)
                            .form-group
                                .row
                                    .col-sm-3
                                        label.text-center interval rand
                                    .col-sm-9
                                        input#interval-switch-add.form-control(type='checkbox', name='jslayer[interval][rand]')
                            .form-group
                                label interval second (интервал между выдачай js-filter)
                                #interval-rand-add.row
                                    .col-sm-2
                                        label.text-center from (от)
                                    .col-sm-2
                                        input.form-control(type='number', value='45',name='jslayer[interval][time][from]')
                                    .col-sm-2
                                        label.text-center to (до)
                                    .col-sm-2
                                        input.form-control(type='number', value='900',name='jslayer[interval][time][to]')
                                input#interval-eq-add.form-control(type='number', name='jslayer[interval][time]',value=15)
                        .step-pane.sample-pane.jslayer(data-step='4',data-input="#input-jslayer-company-create",data-toolbar="#toolbar-jslayer-company-create",data-table="#table-jslayer-company-create")
                            .form-group
                                label av-check (проверки на антивирусы и .т.д по умолчанию все)
                                    #toolbar-jslayer-company-create
                                        .btn-group
                                            button.btn.btn-primary(data-toggle='modal', data-target='#modal-user-create') Создать
                                            button.btn.btn-default(data-toggle='modal', data-target='#modal-user-many-delete') Удалить выбранное
                                    table#table-jslayer-company-create
                                    input#input-jslayer-company-create(type='hidden',name="jslayer[avcheck]")
                            .form-group
                                .row
                                    .col-sm-9
                                        label.text-center crypt avcheck (шифровать проверки)
                                    .col-sm-2.col-sm-offset-right-1
                                        input.form-control(type="checkbox",checked,name='jslayer[crypt][avcheck]')
                            .form-group
                                .row
                                    .col-sm-9
                                        label.text-center crypt domain (шифровать домен)
                                    .col-sm-2.col-sm-offset-right-1
                                        input.form-control(type="checkbox",checked,name='jslayer[crypt][domain]')
                            .form-group
                                .row
                                    .col-sm-9
                                        label.text-center url short service (использовать сервис коротких ссылок)
                                    .col-sm-2.col-sm-offset-right-1
                                        input.form-control(type="checkbox",checked,name='jslayer[short][mode]')
                            .form-group
                                label live time (время житья ссылок коротких в секундах)
                                input.form-control(type='number',value="30",name="jslayer[short][ttl]")
                            .form-group
                                label count (какое количество создать js экземпляров)
                                input.form-control(type='number',value="20",name='jslayer[js][count]')
                            .form-group
                                label cache ttl (через сколько пересоздавать js)
                                .row
                                    .col-sm-3
                                        input.form-control(type="number",checked,name='jslayer[cache][day]',value='1')
                                    .col-sm-3
                                        input.form-control(type="number",checked,name='jslayer[cache][hour]',value='0')
                                    .col-sm-3
                                        input.form-control(type="number",checked,name='jslayer[cache][minut]',value='0')
                                    .col-sm-3
                                        input.form-control(type="number",checked,name='jslayer[cache][second]',value='0')
                                input(type="hidden",name="jslayer[js][ttl]")
                        .step-pane.sample-pane(data-step='5')
                            .form-group
                                label ttl (сколько он будет в бане в секундах, 0 - бесконечно)
                                input.form-control(type='number', name='ban[ttl]',value="3600")
                            .form-group
                                .row
                                    .col-sm-2
                                        label.text-center logic
                                    .col-sm-9
                                        select.form-control(name='ban[logic]')
                                            option(value="ip+ua") ip + user-agent
                                            option(value="ip") ip
                            .form-group
                                .row
                                    .col-sm-2
                                        label.text-center global
                                    .col-sm-2.col-sm-offset-right-1
                                        input.form-control(type='checkbox', name='ban[global]',checked)
                        .step-pane.sample-pane(data-step='6')
                            .form-group
                                label filter
                            .form-group
                                #alert-company-create-filter
                                #toolbar-company-create-filter
                                button.btn.btn-primary(type="button",  data-action="filter", data-toolbar="#toolbar-company-create-filter", onclick="modal('#modal-company-create','#modal-filter-create');",data-id="#table-company-create-filter", data-input="#company-create-filter-input",data-save="#action-filter-create") Создать
                            .from-group
                                table#table-company-create-filter
                            input#company-create-filter-input(type="hidden",name="filter")




            .modal-footer
                button#action-company-create-clear.btn.btn-danger.btn-block(type='button') Очистеть
                button.btn.btn-default.btn-block(type='button', data-dismiss='modal') Закрыть
#modal-company-change.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-company-change-label', aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-company-change-label.modal-title редактировать компанию
            .modal-body
                form#form-company-change.wizard
                    .steps-container
                        ul.steps
                            li.active(data-step='1', data-name='campaign')
                                span.badge 1
                                | setup
                                span.chevron
                            li(data-step='2')
                                span.badge 2
                                | banners
                                span.chevron
                            li(data-step='3')
                                span.badge 3
                                | ajax
                                span.chevron
                            li(data-step='4')
                                span.badge 4
                                | js-layer
                                span.chevron
                            li(data-step='5')
                                span.badge 5
                                | ban
                                span.chevron
                            li(data-step='6')
                                span.badge 6
                                | filter
                                span.chevron
                    .step-content
                        .step-pane.active.sample-pane(data-step='1')
                            .form-group
                                label id
                                input.form-control(type='number', name='id',readonly)
                            .form-group
                                label name
                                input.form-control(type='text', name='name',maxlength='255')
                            .form-group
                                .row
                                    .col-sm-1
                                        label.text-center mode
                                    .col-sm-2.col-sm-offset-right-1
                                        input.form-control(name='mode',type="checkbox")
                            .form-group
                                label user
                                select#company-change-user.user-select.form-control(name='uid')
                                    option(value="0") None
                            .form-group
                                label front
                                input.form-control(name='front',readonly)
                            .form-group
                                label layer
                                input.form-control(name='layer',readonly)

                        .step-pane.sample-pane(data-step='2')
                            .form-group
                                label click
                                input.form-control(type='text', name='click')
                            .form-group
                                label banner
                                #company-banners-change.repeater
                                    .repeater-header
                                        .repeater-header-left
                                            .input-group
                                                button.btn.btn-primary(onclick="return false;",data-toggle='modal', data-target='#modal-banner-select', data-user='#company-change-user',data-repeater='#company-banners-change',data-input='#company-banners-input-change') добавить
                                                button.btn.btn-danger Удалить Выделеные
                                        .repeater-header-right
                                            .repeater-views.btn-group(data-toggle="buttons")
                                                label.active.btn.btn-default
                                                    input(name="repeaterViews2",type="radio",value="thumbnail")
                                                    span.glyphicon.glyphicon-th
                                    .repeater-viewport
                                        .repeater-canvas.scrolling
                                            .clearfix.repeater-thumbnail-cont.align-left(data-container="true",data-infinite="true",data-preserve="shallow")
                                        .repeater-loader.loader
                                    .repeater-footer
                                        .repeater-footer-left
                                            .repeater-itemization
                                                span
                                                    span.repeater-start 1
                                                    |  -
                                                    span.repeater-end 10
                                                    = ' of '
                                                    span.repeater-count 0
                                                    |   items
                                                .btn-group.selectlist(data-resize='auto')
                                                    button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', style='width: 66px;')
                                                        span.selected-label 10
                                                        span.caret
                                                        span.sr-only Toggle Drop-down
                                                    ul.dropdown-menu(role='menu', style='width: 66px;')
                                                        li(data-value='5')
                                                            a(href='#') 5
                                                        li(data-value='10', data-selected='true')
                                                            a(href='#') 10
                                                        li(data-value='20')
                                                            a(href='#') 20
                                                        li(data-value='50', data-foo='bar', data-fizz='buzz')
                                                            a(href='#') 50
                                                        li(data-value='100')
                                                            a(href='#') 100
                                                    input.hidden.hidden-field(name='itemsPerPage', readonly='readonly', aria-hidden='true', type='text')
                                                span Per Page
                                        .repeater-footer-right
                                            .repeater-pagination
                                                button.btn.btn-default.btn-sm.repeater-prev.page-end(type='button', disabled='disabled')
                                                    span.glyphicon.glyphicon-chevron-left
                                                span Page
                                                .repeater-primaryPaging
                                                    .input-group.input-append.dropdown.combobox
                                                        input.form-control(type='text')
                                                        .input-group-btn
                                                            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                                                                span.caret
                                                            ul.dropdown-menu.pull-right
                                                input.form-control.repeater-secondaryPaging.active(type='text',value='0')
                                                span
                                                    = ' of '
                                                    span.repeater-pages 0
                                                button.btn.btn-default.btn-sm.repeater-next(type='button')
                                                    span.glyphicon.glyphicon-chevron-right
                                input#company-banners-input-change(type='hidden',name='banners')
                        .step-pane.sample-pane(data-step='3')
                            .form-group
                                label ajax reload second (через сколько запрашивать действия)
                                input.form-control(type='number', name='ajax[reload]',value=30)
                            .form-group
                                label ajax timeout second(сколько ждать ответ после запроса)
                                input.form-control(type='number', name='ajax[timeout]',value=15)
                            .form-group
                                label jslayer reload second (через сколько запрашивать действия когда получили js-filter)
                                input.form-control(type='number', name='jslayer[reload]',value=30)
                            .form-group
                                label jslayer timeout second(сколько ждать ответа на сервер после получение js-filter)
                                input.form-control(type='number', name='jslayer[timeout]',value=30)
                            .form-group
                                label try (сколько делать попыток для uniq, если не получен результат от прокладки)
                                input.form-control(type='number', name='jslayer[try]',value=15)
                            .form-group
                                .row
                                    .col-sm-3
                                        label.text-center interval rand
                                    .col-sm-9
                                        input#interval-switch-edit.form-control(type='checkbox', name='jslayer[interval][rand]')
                            .form-group
                                label interval second (интервал между выдачай js-filter)
                                #interval-rand-edit.row
                                    .col-sm-2
                                        label.text-center from (от)
                                    .col-sm-2
                                        input.form-control(type='number', value='45',name='jslayer[interval][time][from]')
                                    .col-sm-2
                                        label.text-center to (до)
                                    .col-sm-2
                                        input.form-control(type='number', value='900',name='jslayer[interval][time][to]')
                                input#interval-eq-edit.form-control(type='number', name='jslayer[interval][time]',value=15)
                        .step-pane.sample-pane.jslayer(data-step='4',data-input="#input-jslayer-company-change",data-toolbar="#toolbar-jslayer-company-change",data-table="#table-jslayer-company-change")
                            .form-group
                                label av-check (проверки на антивирусы и .т.д по умолчанию все)
                                    #toolbar-jslayer-company-create
                                        .btn-group
                                            button.btn.btn-primary(data-toggle='modal', data-target='#modal-user-create') Создать
                                            button.btn.btn-default(data-toggle='modal', data-target='#modal-user-many-delete') Удалить выбранное
                                    table#table-jslayer-company-change
                                    input#input-jslayer-company-change(type='hidden',name="jslayer[avcheck]")
                            .form-group
                                .row
                                    .col-sm-9
                                        label.text-center crypt avcheck (шифровать проверки)
                                    .col-sm-2.col-sm-offset-right-1
                                        input.form-control(type="checkbox",checked,name='jslayer[crypt][avcheck]')
                            .form-group
                                .row
                                    .col-sm-9
                                        label.text-center crypt domain (шифровать домен)
                                    .col-sm-2.col-sm-offset-right-1
                                        input.form-control(type="checkbox",checked,name='jslayer[crypt][domain]')
                            .form-group
                                .row
                                    .col-sm-9
                                        label.text-center url short service (использовать сервис коротких ссылок)
                                    .col-sm-2.col-sm-offset-right-1
                                        input.form-control(type="checkbox",checked,name='jslayer[short][mode]')
                            .form-group
                                label live time (время житья ссылок коротких в секундах)
                                input.form-control(type='number',value="30",name="jslayer[short][ttl]")
                            .form-group
                                label count (какое количество создать js экземпляров)
                                input.form-control(type='number',value="20",name='jslayer[js][count]')
                            .form-group
                                label cache ttl (через сколько пересоздавать js)
                                .row
                                    .col-sm-3
                                        input.form-control(type="number",checked,name='jslayer[cache][day]',value='1')
                                    .col-sm-3
                                        input.form-control(type="number",checked,name='jslayer[cache][hour]',value='0')
                                    .col-sm-3
                                        input.form-control(type="number",checked,name='jslayer[cache][minut]',value='0')
                                    .col-sm-3
                                        input.form-control(type="number",checked,name='jslayer[cache][second]',value='0')
                                input(type="hidden",name="jslayer[js][ttl]")
                        .step-pane.sample-pane(data-step='5')
                            .form-group
                                label ttl (сколько он будет в бане в секундах, 0 - бесконечно)
                                input.form-control(type='number', name='ban[ttl]',value="3600")
                            .form-group
                                .row
                                    .col-sm-2
                                        label.text-center logic
                                    .col-sm-9
                                        select.form-control(name='ban[logic]')
                                            option(value="ip+au") ip + user-agent
                                            option(value="ip") ip
                            .form-group
                                .row
                                    .col-sm-2
                                        label.text-center global
                                    .col-sm-2.col-sm-offset-right-1
                                        input.form-control(type='checkbox', name='ban[global]',checked)
                        .step-pane.sample-pane(data-step='6')
                            .form-group
                                label filter
                            .form-group
                                #alert-company-change-filter
                                #toolbar-company-change-filter
                                button.btn.btn-primary(type="button",  data-action="filter", onclick="modal('#modal-company-change','#modal-filter-change');",data-id="#table-company-change-filter", data-input="#company-change-filter-input",data-save="#action-filter-change") Создать
                            .from-group
                                table#table-company-change-filter
                            input#company-change-filter-input(type="hidden",name="filter")
            .modal-footer
                .btn-group
                    button#action-company-change-prev.btn.btn-default.btn-prev(type='button')
                        span.glyphicon.glyphicon-arrow-left
                        | Prev
                    button#action-company-change-next.btn.btn-default.btn-next(type='button', data-last='Complete')
                        | Next
                        span.glyphicon.glyphicon-arrow-right
                    button#action-company-change-save.btn.btn-primary(type='button') Изменить
                    button#action-company-change-default.btn.btn-danger(type='button') По умолчанию
                button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
#modal-company-delete.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-company-delete-label', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-company-delete-label.modal-title Удаление пользователя
            .modal-body
                form#form-company-delete
                    .form-group
                        label id
                        input.form-control(type='number', name='id',readonly)
                    .form-group
                        label name
                        input.form-control(type='text', name='name',maxlength='255',readonly)
                    .form-group
                        label user
                        select.user-select.form-control(name='uid',readonly)
                    .form-group
                        label front
                        input.form-control(type='text',name='front',readonly)
                    .form-group
                        label layer
                        input.form-control(type='text',name='layer',readonly)
                    .form-group
                        label click
                        input.form-control(type='text', name='click',readonly)
            .modal-footer
                button#action-company-delete.btn.btn-primary(type='submit') Удалить
                button.btn.btn-default(type='button', data-dismiss='modal') Отмена
#modal-company-many-delete.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-company-many-delete-label.modal-title Подвердить удаление пользователя
            .modal-body
                table#table-company-remove
            .modal-footer
                button#action-company-many-delete.btn.btn-danger.btn-ok(type='submit') Удалить
                button.btn.btn-default(type='button', data-dismiss='modal') Отмена
#alert-company
#toolbar-company
    .form-inline(role='form')
        .form-group
            button.btn.btn-primary(data-toggle='modal', data-target='#modal-company-create') Создать
        .form-group
            button#action-company-many-delete.btn.btn-default(data-toggle='modal', data-target='#modal-company-many-delete') Удалить выбранное
table#table-company-main