#modal-country.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-country-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#modal-country-label.modal-title добавить Сервер
        .modal-body
            #toolbar-country
            table#table-country
        .modal-footer
            button.btn.btn-default.btn-block(type='button', data-dismiss='modal') Закрыть
