#modal-domain-create.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-domain-create-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#modal-domain-create-label.modal-title Добавить Домен
        .modal-body
            form#form-domain-create
                .form-group
                    .row
                        .col-sm-2
                            label.text-center layer
                        .col-sm-2.col-sm-offset-right-1
                            input(type='checkbox', name='layer')
                .form-group
                    label user
                    select.form-control.user-select(name="uid")
                .form-group
                    label domain
                    .form-control.validation-list(role="domain",data-id="#domain-server-create",contenteditable)
                    input#domain-server-create(name="domain",type="hidden")
                form-group
                    label description
                    textarea.form-control(rows="5" name="description")
        .modal-footer
            button#action-domain-create.btn.btn-primary(type='submit') Добавить
            button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
#modal-domain-change.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-domain-change-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#modal-domain-change-label.modal-title Изменить
        .modal-body
            form#form-domain-change
                .form-group
                    label id
                    input.form-control(type='number', name='id',maxlength='255',readonly)
                .form-group
                    .row
                        .col-sm-2
                            label.text-center layer
                        .col-sm-2.col-sm-offset-right-1
                            input(type='checkbox', name='layer')
                .form-group
                    label user
                    select.form-control.user-select(name="uid")
                .form-group
                    label domain
                    input.form-control(name="host",type="text",readonly)
                form-group
                    label description
                    textarea.form-control(rows="5" name="description")
        .modal-footer
            button#action-domain-change.btn.btn-primary(type='submit') Изменить
            button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
#modal-domain-delete.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-domain-delete-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#modal-domain-delete-label.modal-title Удаление пользователя
        .modal-body
            form#form-domain-delete
                .form-group
                    label id
                    input.form-control(type='number', name='id',maxlength='255',readonly)
                .form-group
                    .row
                        .col-sm-2
                            label.text-center layer
                        .col-sm-2.col-sm-offset-right-1
                            input(type='checkbox', name='layer',readonly)
                .form-group
                    label user
                    select.form-control.user-select(name="uid",readonly)
                .form-group
                    label domain
                    input.form-control(name="host",type="text",readonly)
                form-group
                    label description
                    textarea.form-control(rows="5" name="description",readonly)
        .modal-footer
            button#action-domain-delete.btn.btn-primary(type='submit') Удалить
            button.btn.btn-default(type='button', data-dismiss='modal') Отмена
#modal-domain-many-delete.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            h4#modal-domain-many-delete-label.modal-title Подвердить удаление
        .modal-body
            table#table-domain-remove
        .modal-footer
            button#action-domain-many-delete.btn.btn-danger(type='submit') Удалить
            button.btn.btn-default(type='button', data-dismiss='modal') Отмена
#alert-domain
#toolbar-domain
    .btn-group
        button.btn.btn-primary(data-toggle='modal', data-target='#modal-domain-create') Создать
        button.btn.btn-danger(data-toggle='modal', data-target='#modal-domain-many-delete') Удалить выбранное
table#table-domain-main
