#modal-filter-create.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-filter-create-label', aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-filter-create-label.modal-title Добавить
            .modal-body
                form#form-filter-create
                    .form-group
                        button.btn.btn-default.btn-block(type="button",data-target='#modal-country', onclick="modal('#modal-filter-create','#modal-country');", data-id="#filter-create-country",data-input="#filter-create-country-input") country
                        table#filter-create-country
                        input#filter-create-country-input(type="hidden",name="country")
                    .form-group
                        button.btn.btn-default.btn-block(type="button", data-target='#modal-browser',onclick="modal('#modal-filter-create','#modal-browser');", data-id="#filter-create-browser", data-input="#filter-create-browser-input") browser
                        table#filter-create-browser
                        input#filter-create-browser-input(type="hidden",name="ua")
                    .form-group
                        button.btn.btn-default.btn-block(type="button", data-target='#modal-exploit-select',onclick="modal('#modal-filter-create','#modal-exploit-select');", data-id="#filter-create-exploit", data-input="#filter-create-exploit-input") exploit
                        table#filter-create-exploit
                        input#filter-create-exploit-input(type="hidden",name="exploit")
            .modal-footer
                .btn-group
                    button#action-filter-create.btn.btn-primary(type='button',data-form="#form-filter-create", data-dismiss='modal') Добавить
                    button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
#modal-filter-change.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-filter-change-label', aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-filter-change-label.modal-title Изменить
            .modal-body
                form#form-filter-change
                    .form-group
                        button.btn.btn-default.btn-block(type="button",data-target='#modal-country', onclick="modal('#modal-filter-change','#modal-country');", data-id="#filter-change-country",data-input="#filter-change-country-input") country
                        table#filter-change-country
                        input#filter-change-country-input(type="hidden",name="country")
                    .form-group
                        button.btn.btn-default.btn-block(type="button", data-target='#modal-browser',onclick="modal('#modal-filter-change','#modal-browser');", data-id="#filter-change-browser", data-input="#filter-change-browser-input") browser
                        table#filter-change-browser
                        input#filter-change-browser-input(type="hidden",name="ua")
                    .form-group
                        button.btn.btn-default.btn-block(type="button", data-target='#modal-exploit-select',onclick="modal('#modal-filter-change','#modal-exploit-select');", data-id="#filter-change-exploit", data-input="#filter-change-exploit-input") exploit
                        table#filter-change-exploit
                        input#filter-change-exploit-input(type="hidden",name="exploit")
            .modal-footer
                .btn-group
                    button#action-filter-change.btn.btn-primary(type='button',data-form="#form-filter-change", data-dismiss='modal') Изменить
                    button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
#modal-exploit-select.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-exploit-select-label', aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-exploit-select-label.modal-title Добавить
            .modal-body
                table#table-exploit-select
            .modal-footer
                .btn-group
                    button.btn.btn-default(type='button', data-dismiss='modal') Закрыть