#modal-ip-create.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-ip-create-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#modal-ip-create-label.modal-title добавить
        .modal-body
            form#form-ip-create
                .form-group
                    label ip
                    .form-control.validation-list(role="ip",data-id="#ip-ip-create",contenteditable)
                    input#ip-ip-create(name="ip",type="hidden")
        .modal-footer
            button#action-ip-create.btn.btn-primary(type='submit') Добавить
            button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
#modal-ip-delete.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-ip-delete-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#modal-ip-delete-label.modal-title Подвердить удаление
        .modal-body
            form#form-ip-delete
                .form-group
                    label ip
                    input.form-control(type='ip', name='ip',maxlength='255',disabled)
                .form-group
                    label server
                    input.form-control(type='ip', name='server',maxlength='255',disabled)
        .modal-footer
            button#action-ip-delete.btn.btn-primary(type='submit') Удалить
            button.btn.btn-default(type='button', data-dismiss='modal') Отмена
#modal-ip-many-delete.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            h4#modal-ip-many-delete-label.modal-title Подвердить удаление 
        .modal-body
            table#table-ip-remove
        .modal-footer
            button#action-ip-many-delete.btn.btn-danger(type='submit') Удалить
            button.btn.btn-default(type='button', data-dismiss='modal') Отмена
#alert-ip
#toolbar-ip
    .form-inline(role='form')
        .form-group
            button.btn.btn-primary(data-toggle='modal', data-target='#modal-ip-create') Создать
        .form-group
            button.btn.btn-default(data-toggle='modal', data-target='#modal-ip-many-delete') Удалить выбранное
table#table-ip-main