#modal-jslayer.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-jslayer-label', aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-jslayer-label.modal-title условия js прокладки
            .modal-body
                form
                    .form-group
                        label av-check (проверки на антивирусы и .т.д по умолчанию все)
                        .jslayer(data-input="#input-jslayer-company-create",data-toolbar="#toolbar-jslayer-company-create",data-table="#table-jslayer-company-create")
                            #toolbar-jslayer-company-create
                                .btn-group
                                    button.btn.btn-primary(data-toggle='modal', data-target='#modal-user-create') Создать
                                    button.btn.btn-default(data-toggle='modal', data-target='#modal-user-many-delete') Удалить выбранное
                            table#table-jslayer-company-create
                            input#input-jslayer-company-create(type='hidden',name="jslayer[avcheck]")
                    .form-group
                        .row
                            .col-sm-9
                                label.text-center crypt avcheck (шифровать проверки)
                            .col-sm-2.col-sm-offset-right-1
                                input.form-control(type="checkbox",checked,name='jslayer[crypt][avcheck]')
                    .form-group
                        .row
                            .col-sm-9
                                label.text-center crypt domain (шифровать домен)
                            .col-sm-2.col-sm-offset-right-1
                                input.form-control(type="checkbox",checked,name='jslayer[crypt][domain]')
                    .form-group
                        .row
                            .col-sm-9
                                label.text-center url short service (использовать сервис коротких ссылок)
                            .col-sm-2.col-sm-offset-right-1
                                input.form-control(type="checkbox",checked,name='jslayer[short][mode]')
                    .form-group
                        label live time (время житья ссылок коротких в секундах)
                        input.form-control(type='number',value="30",name="jslayer[short][ttl]")
                    .form-group
                        label count (какое количество создать js экземпляров)
                        input.form-control(type='number',value="20",name='jslayer[js][count]')
                    .form-group
                        label cache ttl (через сколько пересоздавать js)
                        .row
                            .col-sm-3
                                input.form-control(type="number",checked,name='cache[day]',value='1')
                            .col-sm-3
                                input.form-control(type="number",checked,name='cache[hour]',value='0')
                            .col-sm-3
                                input.form-control(type="number",checked,name='cache[minut]',value='0')
                            .col-sm-3
                                input.form-control(type="number",checked,name='cache[second]',value='0')
                        input(type="hidden",name="jslayer[js][ttl]")
            .modal-footer
                button.btn.btn-primary.btn-block(type='button', data-dismiss='modal') Сохранить
                button.btn.btn-default.btn-block(type='button', data-dismiss='modal') Закрыть
