#modal-login.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-login-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h4#modal-login-label.modal-title tdsAdminer
        .modal-body
            #login
            form#form-login
                .form-group
                    label login
                    input.form-control(type='text', name='login',maxlength='255')
                .form-group
                    label password
                    input.form-control(type='password', name='password',maxlength='255')
        .modal-footer
            button#action-login.btn.btn-primary.btn-block(type='submit') Войти