#modal-server-create.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-server-create-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#modal-server-create-label.modal-title добавить Сервер
        .modal-body
            form#form-server-create
                .form-group
                    label name
                    input.form-control(type='text', name='name',maxlength='255')
                .form-group
                    label ip main
                    input.form-control(type='text', name='ip[main]',maxlength='255')
                .form-group
                    label login
                    input.form-control(type='text', name='login',value="root", maxlength='255')
                .form-group
                    label password
                    input.form-control(type='text', name='password',maxlength='255')
                .form-group
                    label user
                    select.user-select.form-control(name='uid')
                        option(value="0") None
                .form-group
                    label ip addition
                    .form-control.validation-list(role="ip",data-id="#ip-server-create",contenteditable)
                    input#ip-server-create(name="ip[addition]",type="hidden")
                .form-group
                    label description
                    textarea.form-control(rows="5" name="description")
        .modal-footer
            button#action-server-create.btn.btn-primary(type='submit') Добавить
            button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
#modal-server-change.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-server-change-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#modal-server-change-label.modal-title Изменить
        .modal-body
            form#form-server-change
                .form-group
                    label id
                    input.form-control(type='number', name='id',maxlength='255',readonly)
                .form-group
                    label name
                    input.form-control(type='text', name='name',maxlength='255')
                .form-group
                    label ip main
                    input.form-control(type='text', name='ip[main]',maxlength='255')
                .form-group
                    label login
                    input.form-control(type='text', name='login',value="root", maxlength='255')
                .form-group
                    label password
                    input.form-control(type='text', name='password',maxlength='255')
                .form-group
                    label user
                    select.form-control.user-select(name="uid")
                        option(value="0") None
                .form-group
                    label ip addition
                    .form-control.validation-list(role="ip",data-id="#ip-server-change",contenteditable)
                    input#ip-server-change(name="ip[addition]",type="hidden")
                .form-group
                    label description
                    textarea.form-control(rows="5" name="description")
        .modal-footer
            button#action-server-change.btn.btn-primary(type='submit') Изменить
            button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
#modal-server-delete.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-server-delete-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#modal-server-delete-label.modal-title Удаление пользователя
        .modal-body
            form#form-server-delete disabled
                .form-group
                    label id
                    input.form-control(type='number', name='id',readonly)
                .form-group
                    label name
                    input.form-control(type='text', name='name',readonly)
                .form-group
                    label ip main
                    input.form-control(type='text', name='ip[main]',readonly)
                .form-group
                    label login
                    input.form-control(type='text', name='login',readonly)
                .form-group
                    label password
                    input.form-control(type='text', name='password',readonly)
                .form-group
                    label user
                    select.form-control.user-select(name="uid",readonly)
                        option(value="0") None
                .form-group
                    label ip addition
                    textarea.form-control(rows="5" name="ip[addition]",readonly)
                .form-group
                    label description
                    textarea.form-control(rows="5" name="description",readonly)
        .modal-footer
            button#action-server-delete.btn.btn-primary(type='submit') Удалить
            button.btn.btn-default(type='button', data-dismiss='modal') Отмена
#modal-server-many-delete.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            h4#modal-server-many-delete-label.modal-title Подвердить удаление пользователя 
        .modal-body
            table#table-server-remove
        .modal-footer
            button#action-server-many-delete.btn.btn-danger.btn-ok(type='submit') Удалить
            button.btn.btn-default(type='button', data-dismiss='modal') Отмена
#alert-server
#toolbar-server
    .form-inline(role='form')
        .form-group
            button.btn.btn-primary(data-toggle='modal', data-target='#modal-server-create') Создать
        .form-group
            button.btn.btn-default(data-toggle='modal', data-target='#modal-server-many-delete') Удалить выбранное
table#table-server-main