#modal-virustotal-create.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-virustotal-create-label', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-virustotal-create-label.modal-title добавить учетную запись
            .modal-body
                form#form-virustotal-create
                    .form-group
                        label login
                        input.form-control(type='text', name='login',maxlength='255')
                    .form-group
                        label email
                        input.form-control(type='email', name='email',maxlength='255')
                    .form-group
                        label password
                        input.form-control(type='text', name='password',maxlength='255')
                    .form-group
                        label api-key
                        input.form-control(type='text', name='key')
            .modal-footer
                button#action-virustotal-create.btn.btn-primary(type='submit') Создать
                button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
#modal-virustotal-change.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-virustotal-change-label', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-virustotal-change-label.modal-title изменить учетную запись
            .modal-body
                form#form-virustotal-change
                    .form-group
                        label login
                        input.form-control(type='text', name='login',maxlength='255')
                    .form-group
                        label email
                        input.form-control(type='email', name='email',maxlength='255')
                    .form-group
                        label password
                        input.form-control(type='text', name='password',maxlength='255')
                    .form-group
                        label api-key
                        input.form-control(type='text', name='key')
                    input(type='hidden', name='_id')
            .modal-footer
                button#action-virustotal-change.btn.btn-primary(type='submit') Изменить
                button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
#modal-virustotal-delete.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-virustotal-delete-label', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-virustotal-delete-label.modal-title удаление учетной записи
            .modal-body
                form#form-virustotal-delete
                    .form-group
                        label login
                        input.form-control(type='text', name='login',maxlength='255',disabled)
                    .form-group
                        label email
                        input.form-control(type='email', name='email',maxlength='255',disabled)
                    input(type='hidden',name='_id')
            .modal-footer
                button#action-virustotal-delete.btn.btn-primary(type='submit') Удалить
                button.btn.btn-default(type='button', data-dismiss='modal') Отмена
#modal-virustotal-many-delete.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-virustotal-many-delete-label.modal-title подвердить удаление учетных записи
            .modal-body
                table#table-virustotal-remove
            .modal-footer
                button#action-virustotal-many-delete.btn.btn-danger(type='submit') Удалить
                button.btn.btn-default(type='button', data-dismiss='modal') Отмена
#alert-virustotal
#toolbar-virustotal
    .form-inline(role='form')
        .form-group
            button.btn.btn-primary(data-toggle='modal', data-target='#modal-virustotal-create') Создать
        .form-group
            button.btn.btn-default(data-toggle='modal', data-target='#modal-virustotal-many-delete') Удалить выбранное
table#table-virustotal-main